<h1>Hello Michelle</h1>

{% schema%}
{
  "name": "Custom Section",
  "settings": [],
  "presets": [
    {"name": "default custom section"}],
    "tag": "header",
    "class": "custom-section"
    
  
}
{% endschema %}