<h1>{{  section.settings.text }}</h1>
{% for block in section.blocks %}
  {% if block.type == "social" %}
  <a href="{{ block.settings.url }}">{{ block.settings.text }}</a>
  {% elsif block.type == "paragraph" %}
    <p>{{  block.settings.text }}</p>  
  {% endif %}
  {% endfor %}


{% schema%}
{
  "name": "Custom Section",
  "settings": [
    {
    "type": "text",
    "id": "text",
"label": "text" }
  ],
  "presets": [
    {"name": "default custom section"}], 
    "tag": "header",
    "class": "custom-section", 
    "limit" : 1, 
    "blocks" : [
      { "type": "@app"}, {
    "name": "Social links",
    "type": "social",
    "settings": [
   {
    "type": "text",
    "id": "text",
"label": "text" },
   {
    "type": "url",
    "id": "url",
"label": "url" }
    ]

  },{
  "name": "Paragraph",
  "type": "paragraph",
  "settings": [
    {
    "type": "textarea",
    "id": "text",
"label": "text" }
], 

    
  
}]
}
{% endschema %}