<!-- sections/pickup-calendar.liquid -->
<div class="pickup-calendar">
  <h3>Choose Pickup Date & Time</h3>
  <input type="text" id="pickup-date" name="attributes[Pickup Date]">
  <input type="time" id="pickup-time" name="attributes[Pickup Time]">
</div>

{% schema %}
{
  "name": "Pickup Calendar",
  "settings": [
    {
      "type": "range",
      "id": "minimum_days_notice",
      "label": "Minimum days in advance",
      "min": 0,
      "max": 30,
      "default": 14
    }
  ],
  "presets": [
    {
      "name": "Pickup Calendar"
    }
  ]
}
{% endschema %}

