<h2>Contact</h2>
{%  form 'contact', id: 'ContactForm' %}
      {%- if form.posted_successfully? -%}
        <p>Your message has been sent</p>
     
  
      {%- elsif form.errors -%}
    {{ form.errors | default_errors }}
      {%- endif -%}
    
    <div>
        <label for="first_name">First Name</label>
    <input type="text" name="contact[first_name]" id="first_name" placeholder="Enter your name" value="{% if form.first_name %}{{form.first_name}}{% endif %}">
    </div>
      <div>
        <label for="last_name">Last Name</label>
    <input type="text" name="contact[last_name]" id="last_name"  placeholder="enter your last name">
    </div>
      <div>
        <label for="email">email</label>
    <input type="text" name="contact[email]" id="email"  placeholder="Email@email.com">
    </div>
      <div>
        <label for="order_number">order number</label>
    <input type="text" name="contact[order_number]" id="order_number"  placeholder="order number">
    </div>
      <div>
        <label for="order_type">order type</label>
    <select name="contact[order_type]" id="order_type" >
        <option selected value="product">Product</option>
        <option value="service">bulc order</option>
    </select>
    </div>
  <div>
        <label for="message">message</label>
    <textarea type="text" name="contact[message]" id="message" required placeholder="type our message"></textarea>
    </div>
    <div>
       
      <input type="checkbox" name="contact[extra_info]" id="extra_info" value="yes">
      <label for="extra_info">Hotsauce</label>
    </div>

    <div>
        <button type="submit">contact us</button>
    </div>

    
  
{% endform %} 
{% schema %}
{
    "name": "Custom Contact Form",
    "settings": [

    ], 
    "presets": [ {
        "name": "Custom Contact Form",
    }
    ]
}

 {% endschema %}