<h2>Contact</h2>
{%  form 'contact' %}
    {{ form.errors | default_errors }}
    <div>
        <label for="first_name">First Name</label>
    <input type="text" name="contact[fist_name]" id="first_name" required placeholder="Enter your name">
    </div>
      <div>
        <label for="last_name">email</label>
    <input type="text" name="contact[last_name]" id="last_name" required placeholder="enter your last name">
    </div>
      <div>
        <label for="email">email</label>
    <input type="text" name="contact[email]" id="email" required placeholder="Email@email.com">
    </div>
  <div>
        <label for="message">message</label>
    <textarea type="text" name="contact[message]" id="message" required placeholder="type our message"></textarea>
    </div>

    <div>
        <button type="submit">conta t us</button>
    </div>

    
  
{% endform %} 
{% schema %}
{
    "name": "Custom Contact Form",
    "settings": [

    ], 
    "presets": [ {
        "name": "Custom Contact Form",
    }
    ]
}

 {% endschema %}