{% if section.settings.category %}
  <h2>{{ section.settings.category }}</h2>
{% endif %}

<div class="menu-category">
  {% for block in section.blocks %}
    <div class="menu-item">
      <h3>{{ block.settings.name }}</h3>
      <span>{{ block.settings.price }}</span>
      <p>{{ block.settings.description }}</p>
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Menu Category",
  "settings": [
    {
      "type": "text",
      "id": "category",
      "label": "Category Title (e.g. Wine, Pizza)",
        "info": "💡 After entering the item name, click the block title in the left panel and rename it (e.g. 'Margherita Pizza') for easier organization.",
      "default": "Pizza"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Menu Item",
      "settings": [
        { "type": "text", "id": "name", "label": "Item Name",  "info": "💡 After entering the item name, click the block title in the left panel and rename it or right click the Menu Item on top (e.g. 'Margherita Pizza') for easier organization." },
        { "type": "text", "id": "price", "label": "Price" },
        { "type": "text", "id": "description", "label": "Description" }
      ]
    }
  ],
  "presets": [
    {
      "name": "Menu Section",
      "category": "Restaurant",
      "settings": {
        "category": "Pizza"
      },
      "blocks": [
        { "type": "item", "settings": { "name": "Margherita", "price": "$12" }},
        { "type": "item", "settings": { "name": "Pepperoni", "price": "$14" }}
      ]
    }
  ]
}
{% endschema %}
