<div class="width">
    <div class="specs-table">
       {%  for block in section.blocks %}
        <div class="specs-table-row">
            <h2>{{ block.settings.label }}</h2>
            <p>{{ block.settings.value }}</p>
        </div>
       {% endfor %}
    </div>
</div> 

 {% schema %}
 {  
    "name": "specs",
    "blocks": [
        { 
            "type": "specs_row",
            "name": "Specs Row",
            "settings": [
                {
                "type": "text", 
                "id": "label",
                "label": "Label"},
                {
                "type": "text",
                "id": "value",
                "label": "Value"}
            ]
        }
    ], 
    "presets": [
        {
            "name": "Specs Blocks"
        }
    ]
} 
   
 {% endschema %}

 <style>
  .specs-table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #ddd;
}

.specs-table-row:last-child {
  border-bottom: none;
}

.specs-table-row h2 {
  margin: 0;
  text-align: right;
}

.specs-table-row p {
  margin: 0;
  text-align: left;
}

.width{
width:50%}
</style>