<div class="width">
    <div class="specs-table">
        <div class="specs-table-row">
            <h2>{{ product.custom.estimated_shipping_date }}</h2>
            <p> {{ product.custom.estimated_shipping_date }}</p>
        </div>
        <div class="specs-table-row">
            <h2></h2>
            <p> </p>
        </div>
        <div class="specs-table-row">
            <h2></h2>
             <p> </p>
        </div>
    </div>
</div> 

 {% schema %}
 {
    "name": "specs",
    "settings": [
        {
            "type": "text",
            "id": "row1lable",
            "label": "Row 1 Label",
        },
          {
            "type": "text",
            "id": "row1value",
            "label": "Row 1 Value",
        },
          {
            "type": "text",
            "id": "row2lable",
            "label": "Row 2 Label",
        },  {
            "type": "text",
            "id": "rowe2value",
            "label": "Row 2 value",
        },  {
            "type": "text",
            "id": "row3lable",
            "label": "Row 3 Label",
        },  {
            "type": "text",
            "id": "row3value",
            "label": "Row 3 value",
        },
    ]
}
 {% endschema %}